<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Que manger aujourd'hui ?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label>Catégorie</ion-label>
    <ion-select (ionChange)="onCategorySelected($event)" interface="popover">
      <ion-select-option *ngFor="let cat of category">{{cat}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid *ngIf="meals">
    <ion-row>
      <!--size définit la proportion de la colonne par rapport à l'acran, valeur totale à 12-->
      <ion-col [routerLink]="'/meal/' + meal.idMeal" *ngFor="let meal of meals" size="4" >
        <ion-img [src]="meal.strMealThumb"></ion-img>
        {{meal.strMeal}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
